<div class="informacionDespacho-contenedor-general">
    <div class="informacionDespacho-contenedor-titulo" style="margin-right: 0.6rem;">
        <h2 class="informacionDespacho-contenedor-titulo__h2">Información de Despacho</h2>
    </div>
    <div class="informacionDespacho-contenedor-inputs grid grid-col-1 lg:grid-col-3">
		<!-- Direccion -->
		<div class="contenedor-inputs grid gap-y-2 lg:col-span-3">
            <label class="label" for="informacionDespacho-direccion">Dirección</label>
			<input id="informacionDespacho-direccion" name="informacionDespacho-direccion" type="text"
				class="input focus:outline-none focus:border-orange-500" placeholder="Direccion" value="{{ usuario.direccion|title }}" disabled/>
			<div class="contenedor-inputs-error">
				<span class="contenedor-inputs-error__span">Solo se aceptan caracteres
					alfabéticos.</span>
			</div>
		</div>
		<div class="grid grid-cols-1 lg:grid-cols-3">
			<!-- Comuna -->
			<div class="contenedor-selects grid gap-y-2">
				<label class="label" for="informacionDespacho-comuna">Comuna</label>
				<select id="informacionDespacho-comuna" name="informacionDespacho-comuna"
				class="ontenedor-selects__select input focus:outline-none focus:border-orange-500 appearance-none" disabled>
					<option value=""></option>
				</select>
			</div>
			<!-- Provincia -->
			<div class="contenedor-selects grid gap-y-2">
				<label class="label" for="informacionDespacho-provincia">Provincia</label>
				<select id="informacionDespacho-provincia" name="informacionDespacho-provincia"
					class="ontenedor-selects__select input focus:outline-none focus:border-orange-500 appearance-none" disabled>
						<option value=""></option>
				</select>
			</div>
			<!-- Region -->
			<div class="contenedor-selects grid gap-y-2">
				<label class="label" for="informacionDespacho-region">Región</label>
				<select id="informacionDespacho-region" name="informacionDespacho-region"
					class="ontenedor-selects__select input focus:outline-none focus:border-orange-500 appearance-none" disabled>
						<option value=""></option>
				</select>
			</div>
		</div>
		<!-- Btn -->
		<div class="contenedor-btns flex justify-end lg:col-span-3">
			<button type="submit" class="informacionDespacho-contenedor-btns__button btn w-1/3 lg:w-1/4 focus:outline-none">
				Guardar Cambios
			</button>
		</div>
    </div>
</div>

<script>
	// Inicio Select Select2
	// $(document).ready(function () {

	// const selects = document.getElementsByTagName('select');
	// let placeh = '';
	// for (const element of selects) {

	// switch (element.id) {
	// case 'informacionDespacho-comuna':
	// placeh = 'Comuna';
	// break;

	// case 'informacionDespacho-provincia':
	// placeh = 'Provincia';
	// break;

	// case 'informacionDespacho-region':
	// placeh = 'Region';
	// break;
	// }

	// $(`#${element.id}`).select2({
	// placeholder: `Seleccione ${placeh}`,
	// language: {
	// noResults: function () {
	// return "No hay resultado";
	// },
	// searching: function () {
	// return "Buscando..";
	// }
	// },

	// // theme: "registro-contenedor-selects__select"
	// });
	// }

	// });
	// Fin Select Select2

	const region =  [];
	const provincia = [];
	const comuna = [];

	{% for zona in viewOrganizacionTerritorial %}

	if('{{ zona.ID_REGION }}' !== ''){
			region.push({
				"ID_REGION" : '{{ zona.ID_REGION }}',
                "DES_REGION" : '{{ zona.DES_REGION }}'
			});
		}

		if('{{ zona.ID_PROVINCIA }}' !== ''){
			provincia.push({
				"ID_PROVINCIA" : '{{ zona.ID_PROVINCIA }}',
				"DES_PROVINCIA" : '{{ zona.DES_PROVINCIA }}',
				"ID_REGION_PROVINCIA" : '{{ zona.ID_REGION_PROVINCIA }}'
			});
		}

		if('{{ zona.ID_COMUNA }}' !== ''){
			comuna.push({
				"ID_COMUNA" : '{{ zona.ID_COMUNA }}',
				"DES_COMUNA" : '{{ zona.DES_COMUNA }}',
				"ID_PROVINCIA_COMUNA" : '{{ zona.ID_PROVINCIA_COMUNA }}'
			});
		}
		
	{% endfor %}
	
	for (const objComuna of comuna) {
		if(objComuna.ID_COMUNA == '{{ usuario.id_comuna.id_comuna }}'){
			for (const objProvincia of provincia) {
				if(objProvincia.ID_PROVINCIA == objComuna.ID_PROVINCIA_COMUNA){
					for (const objRegion of region) {
						if(objRegion.ID_REGION == objProvincia.ID_REGION_PROVINCIA){
							document.getElementById('informacionDespacho-comuna').firstElementChild.textContent = objComuna.DES_COMUNA;
							document.getElementById('informacionDespacho-provincia').firstElementChild.textContent = objProvincia.DES_PROVINCIA;
							document.getElementById('informacionDespacho-region').firstElementChild.textContent = objRegion.DES_REGION;
							break;
						}
					}
				}
			}
		}
	}
</script>