<div class="informacionContacto-contenedor-general">
    <div class="informacionContacto-contenedor-titulo" style="margin-right: 0.6rem;">
        <h2 class="informacionContacto-contenedor-titulo__h2">Información de Contacto</h2>
    </div>
    <div class="informacionContacto-contenedor-inputs grid grid-cols-1 lg:grid-cols-2">
        <!-- Correo -->
        <div class="contenedor-inputs grid gap-y-2">
            <label class="label" for="informacionContacto-correo">Correo Electrónico</label>
			<input id="informacionContacto-correo" name="informacionContacto-correo" type="text"
				class="input focus:outline-none focus:border-orange-500" placeholder="contacto@bestfruit.cl" value="{{ usuario.email|lower }}" disabled/>
			<div class="contenedor-inputs-error">
				<span class="contenedor-inputs-error__span">Correo ingresado no valido. Solo se aceptan
                    caracteres alfanuméricos, guiones o puntos.</span>
			</div>
        </div>
        <!-- Celular -->
        <div class="contenedor-inputs grid gap-y-2">
            <label class="label" for="informacionContacto-celular">Número de Contacto</label>
			<input id="informacionContacto-celular" name="informacionContacto-celular" type="text"
				class="input focus:outline-none focus:border-orange-500" placeholder="56 9 XXXX XXXX" value="" disabled/>
			<div class="contenedor-inputs-error">
				<span class="contenedor-inputs-error__span">Solo se aceptan caracteres numéricos. Ej.
                    56 9 XXXX XXXX</span>
			</div>
        </div>
        <!-- Btn -->
        <div class="contenedor-btns flex justify-end lg:col-span-2 hidden">
            <button type="submit" class="informacionContacto-contenedor-btns__button btn w-1/3 lg:w-1/4 focus:outline-none">
                Guardar
            </button>
        </div>
    </div>
</div>

<script>
    let celular = '{{ usuario.num_celular }}'.replace(/\./g, '');
    let celularReverse = '';
    let celularFormateado = '';
    for (let index = 0; index < celular.replace(/\./g, '').split('').reverse().length; index++) {
        if (index == 3 || index == 7) {
            celularReverse += celular.replace(/\./g, '').split('').reverse()[index] + ' '
        }else{
            celularReverse += celular.replace(/\./g, '').split('').reverse()[index]
        }
    }

    for (const iterator of celularReverse.split('').reverse()) {
        celularFormateado += iterator
    }

    document.getElementById('informacionContacto-celular').setAttribute('value', celularFormateado.trim());
</script>