{% extends 'portalVentas/usuario.html' %}

{% block title %} {{ tituloPagina }} {% endblock %}

{% block contentUsuario %} 

{% include 'portalVentas/include/informacionPersonal.html' %}
{% include 'portalVentas/include/informacionContacto.html' %}
{% include 'portalVentas/include/informacionDespacho.html' %}


<script>
    
    let btnActivo;
    setTimeout(() => {
        btnActivo = document.querySelector('.usuario-contenedor-btns__span--activo')
        let usuarioContenedorPersonalizado = `
        <div class="usuario-contenedor-personalizado">
            <h2 class="usuario-contenedor-titulo__h2 font-lato">Estas en ${btnActivo.textContent}</h2>
            <div class="usuario-contenedor-personalizado__tooltip relative">
                <i class="fas fa-question-circle text-2xl mt-2"></i>
                <p class="usuario-contenedor-personalizado__p font-lato text-lg w-11/12 sm:w-8/12 lg:w-1/2" >
                    En este menú, puedes visualizar y/o modificar los datos que estimes necesarios. Esta información, es la que nos proporcionaste al momento de registrarte.
                    <br>
                    Para realizar estos cambios, solo debes hacer las modificaciones pertinentes y presionar el botón
                    <span class="informacionDespacho-contenedor-btns__button inline-block w-30 text-xs font-medium rounded" style="padding: 4px 2px;">
                        Guardar Cambios
                    </span>.
                    <br>
                    Procura siempre mantener tus datos actualizados.
                </p>
            </div>
        </div>  
        `;
    
        document.querySelector('.usuario-contenedor-titulo').innerHTML += usuarioContenedorPersonalizado;
    
        document.querySelector('.fa-question-circle').addEventListener('mouseover', e => {
            let $styleTemp = document.createElement('style');
            $styleTemp.setAttribute('id', 'styleTemp');
            $styleTemp.innerHTML = '.usuario-contenedor-personalizado__tooltip::after,.usuario-contenedor-personalizado__p{display: block;}';
            document.querySelectorAll('script')[12].insertAdjacentElement('beforebegin', $styleTemp) // AL 12 HACE REFERENCIA A ESTA TAG SCRIPT
        });
        
        document.querySelector('.fa-question-circle').addEventListener('mouseout', e => {
            document.getElementById('styleTemp').remove();
        });
    }, 100);
    
</script>

{% endblock %}
