{% extends "portalVentas/base.html" %}

{% block title %} {{ tituloPagina }} {% endblock %}

{% block content %}

<div class="contenedor-login grid grid-cols-1 px-4 lg:px-0 lg:grid-cols-3 items-center">
        <div class="ventana-login col-start-1 lg:col-start-2">
            <div class="ventana-titulo">
                <h2 class="ventana-titulo__h1">Ingresa a tu Cuenta</h2>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="formulario-login">
                    <input id="login-correo" name="LOGIN_CORREO" type="email"
                        class="formulario-login__input focus:outline-none focus:border-orange-500"
                        placeholder="Correo Electrónico">
                    <input id="login-contrasenia" name="LOGIN_PASS" type="password"
                        class="formulario-login__input focus:outline-none focus:border-orange-500" placeholder="Contraseña">
                    <div class="contenedor-inputs-error">
                        <span class="contenedor-inputs-error__span">Debe completar todos los campos.</span>
                    </div>
                    <div class="contenedor-inputs-error" id="submit-before" name="submit-before">
                        <span class="contenedor-inputs-error__span">Correo no valido</span>
                    </div>
                    <div class="contenedor-inputs-error" id="submit-before" name="submit-before">
                        <span class="contenedor-inputs-error__span">Contraseña no valida</span>
                    </div>
                    <div class="contenedor-inputs-error" id="submit-after">
                        <span class="contenedor-inputs-error__span"></span>
                    </div>
                    <button type="submit" class="formulario-login__btn btn focus:outline-none">Entrar</button>
                </div>
            </form>
            <div class="enlace-sign">
                <span class="enlace-sign__span">¿No posees cuenta? <a href="{% url 'portalVentas:registro' %}"
                        class="enlace-sign__a">Puedes registrarte aquí.</a></span>
            </div>
        </div>
</div>

<script>
    const $form = document.querySelector('.formulario-login');
    const $inputCorreo = document.getElementById('login-correo');
    const $inputContrasenia = document.getElementById('login-contrasenia');
    const $submitBefore = document.querySelectorAll('div[name="submit-before"]');
    const $submitAfter = document.getElementById('submit-after');
    
    const email = /^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])\.)+(?:[a-zA-Z]{2}|aero|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel)$/;
    const contrasenia = /^\w{6,12}$/;
    const mensajeLogin = parseInt('{{ mensajeLogin }}', 10);
    const rol = '{{ usuario.id_rol.id_rol }}';

    $inputCorreo.addEventListener('blur', e => {
        if(email.test(e.target.value)){
            $submitBefore[0].classList.remove('block');
        }else{
            $submitBefore[0].classList.add('block');
        }
    });

    $inputContrasenia.addEventListener('blur', e => {
        if(contrasenia.test(e.target.value)){
            $submitBefore[1].classList.remove('block');
        }else{
            $submitBefore[1].classList.add('block');
        }
    });

    $form.addEventListener('submit', e => {
        e.preventDefault();
        if (email.test($inputCorreo.value) && contrasenia.test($inputContrasenia.value)) {
            $form.submit();
        }
    });

    switch (mensajeLogin) {
        case 0:
            $submitAfter.classList.add('block');
            $submitAfter.firstElementChild.innerHTML = `Correo electronico no se encuentra registrado. <a href="{% url 'portalVentas:registro' %}" class="enlace-sign__a"><strong>Puedes hacerlo aquí.</strong></a>`;
            setTimeout(() =>  $submitAfter.classList.remove('block'), 5000);
            break;

        case 1:
            location.href = redireccionar(rol);
            break;

        case 2:
            $submitAfter.classList.add('block');
            $submitAfter.firstElementChild.innerHTML = `Correo electronico o contrasenia no son correctos.`;
            setTimeout(() =>  $submitAfter.classList.remove('block'), 5000);
            break;
    }

</script>

{% endblock %}